In [18]:
import pandas as pd

In [19]:
GPA = pd.read_csv("GPA.csv")

In [20]:
GPA.head()

,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2019-fa,AAS,100,Intro Asian American Studies,20,6,1,4,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
1,2019-fa,AAS,100,Intro Asian American Studies,16,10,2,2,1,0,0,0,0,0,0,0,0,0,"Uhall, Michael B"
2,2019-fa,AAS,100,Intro Asian American Studies,5,13,2,2,3,2,0,1,0,0,0,0,3,0,"Kang, Yoonjung"
3,2019-fa,AAS,100,Intro Asian American Studies,26,6,1,0,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
4,2019-fa,AAS,100,Intro Asian American Studies,19,4,3,1,2,3,0,0,0,0,0,0,0,0,"Uhall, Michael B"

In [21]:
GPA

,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2019-fa,AAS,100,Intro Asian American Studies,20,6,1,4,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
1,2019-fa,AAS,100,Intro Asian American Studies,16,10,2,2,1,0,0,0,0,0,0,0,0,0,"Uhall, Michael B"
2,2019-fa,AAS,100,Intro Asian American Studies,5,13,2,2,3,2,0,1,0,0,0,0,3,0,"Kang, Yoonjung"
3,2019-fa,AAS,100,Intro Asian American Studies,26,6,1,0,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
4,2019-fa,AAS,100,Intro Asian American Studies,19,4,3,1,2,3,0,0,0,0,0,0,0,0,"Uhall, Michael B"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15108,2017-su,TAM,212,Introductory Dynamics,0,8,3,3,8,2,1,0,1,2,0,0,0,0,"Essick, Raymond B"
15109,2017-su,TAM,335,Introductory Fluid Mechanics,1,8,4,3,6,4,2,0,0,1,1,0,0,0,"Berent, Zachary T"
15110,2017-su,THEA,101,Introduction to Theatre Arts,28,3,3,1,1,0,2,0,1,0,0,0,3,1,"Morrissette, Jason W"
15111,2017-su,THEA,101,Introduction to Theatre Arts,21,5,1,3,2,0,1,1,1,0,0,0,2,0,"Morrissette, Jason W"
15112,2017-su,THEA,110,Broadway Musicals,9,5,2,0,2,1,0,0,0,0,1,0,1,0,"Morrissette, Jason W"

In [22]:
GPA.loc[GPA['Primary Instructor'] == "Boonsripaisal, Simon"]

,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2019-fa,AAS,100,Intro Asian American Studies,20,6,1,4,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"
3,2019-fa,AAS,100,Intro Asian American Studies,26,6,1,0,1,0,0,0,0,0,0,0,0,0,"Boonsripaisal, Simon"

In [23]:
gpa = GPA.groupby(['Primary Instructor','Course Title','Number','YearTerm','Subject'])[['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-','F','W']].sum().reset_index()

In [24]:
gpa

,Primary Instructor,Course Title,Number,YearTerm,Subject,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
0,"Abbamonte, Peter M",Electromagnetic Fields I,435,2019-fa,PHYS,5,30,4,7,25,3,0,12,0,0,4,0,0,1
1,"Abbamonte, Peter M",Light,402,2017-sp,PHYS,2,8,6,0,5,4,0,0,0,0,1,0,0,1
2,"Abbamonte, Peter M",Light,402,2018-fa,PHYS,4,12,7,2,4,3,0,7,0,0,0,0,0,0
3,"Abbamonte, Peter M",Light,402,2019-sp,PHYS,4,13,3,5,9,2,3,7,1,0,1,0,0,0
4,"Abbott, Annie R",Intermediate Spanish,130,2018-sp,SPAN,9,8,0,1,2,2,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11125,"van der Veen, Renske",Physical Chemistry I,442,2017-sp,CHEM,1,5,15,7,8,8,3,2,2,0,0,1,0,0
11126,"van der Veen, Renske",Physical Chemistry I,442,2018-fa,CHEM,0,2,8,10,10,5,4,0,0,0,0,1,2,1
11127,"van der Veen, Renske",Physical Chemistry I,442,2019-fa,CHEM,5,4,5,3,2,7,4,3,3,3,2,2,3,0
11128,"van der Zande, Arend",Mechanical Design I,370,2017-sp,ME,1,11,10,6,6,3,3,1,0,2,0,0,0,0
11129,"van der Zande, Arend",Mechanical Design I,370,2018-sp,ME,2,16,11,8,7,4,2,0,0,0,0,0,0,0

In [49]:
indexNames = gpa[gpa['YearTerm'] == '2017-sp'].index
gpa.drop(indexNames, inplace =True)

In [50]:
indexNames1 = gpa[gpa['YearTerm'] == '2017-fa'].index
gpa.drop(indexNames1, inplace =True)

In [51]:
indexNames2 = gpa[gpa['YearTerm'] == '2017-su'].index
gpa.drop(indexNames2, inplace =True)

In [52]:
gpa

,Primary Instructor,Course Title,Number,YearTerm,Subject,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
0,"Abbamonte, Peter M",Electromagnetic Fields I,435,2019-fa,PHYS,5,30,4,7,25,3,0,12,0,0,4,0,0,1
2,"Abbamonte, Peter M",Light,402,2018-fa,PHYS,4,12,7,2,4,3,0,7,0,0,0,0,0,0
3,"Abbamonte, Peter M",Light,402,2019-sp,PHYS,4,13,3,5,9,2,3,7,1,0,1,0,0,0
4,"Abbott, Annie R",Intermediate Spanish,130,2018-sp,SPAN,9,8,0,1,2,2,0,0,2,0,0,0,0,0
5,"Abbott, Annie R",Spanish and Entrepreneurship,332,2018-sp,SPAN,6,10,4,2,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,"van der Donk, Wilfred A",Structure and Synthesis,237,2018-sp,CHEM,3,7,2,3,11,7,4,8,3,0,0,0,0,0
11123,"van der Donk, Wilfred A",Structure and Synthesis,237,2019-sp,CHEM,2,9,4,8,12,3,5,11,2,0,0,0,1,0
11126,"van der Veen, Renske",Physical Chemistry I,442,2018-fa,CHEM,0,2,8,10,10,5,4,0,0,0,0,1,2,1
11127,"van der Veen, Renske",Physical Chemistry I,442,2019-fa,CHEM,5,4,5,3,2,7,4,3,3,3,2,2,3,0
11129,"van der Zande, Arend",Mechanical Design I,370,2018-sp,ME,2,16,11,8,7,4,2,0,0,0,0,0,0,0

In [66]:
nonumber=gpa.drop(columns={'Number'})

In [67]:
nosubject=gpa.drop(columns={'Subject'})

In [53]:
dataset = pd.read_csv("dataset.csv")

In [54]:
dataset

,Year,Term,TermYear,Course,Course Title,ACP,CS,HUM,NAT,QR,SBS
0,2019,Fall,2019-fa,AAS 100,Intro Asian American Studies,NaN,US,NaN,NaN,NaN,SS
1,2019,Fall,2019-fa,AAS 105,Introduction to Arab American Studies,NaN,US,NaN,NaN,NaN,NaN
2,2019,Fall,2019-fa,AAS 120,Intro to Asian Am Pop Culture,NaN,US,NaN,NaN,NaN,NaN
3,2019,Fall,2019-fa,AAS 200,U.S. Race and Empire,NaN,US,HP,NaN,NaN,NaN
4,2019,Fall,2019-fa,AAS 201,US Racial & Ethnic Politics,NaN,US,NaN,NaN,NaN,SS
...,...,...,...,...,...,...,...,...,...,...,...
2025,2018,Fall,2018-fa,UP 312,Communication for Planners,ACP,NaN,NaN,NaN,NaN,NaN
2026,2018,Fall,2018-fa,UP 316,Urban Informatics II,NaN,NaN,NaN,NaN,QR2,NaN
2027,2018,Fall,2018-fa,WRIT 303,Writing Across Media,ACP,NaN,NaN,NaN,NaN,NaN
2028,2018,Fall,2018-fa,YDSH 220,Jewish Storytelling,NaN,WCC,LA,NaN,NaN,NaN
2029,2018,Fall,2018-fa,YDSH 320,Lit Responses to the Holocaust,NaN,WCC,LA,NaN,NaN,NaN

In [70]:
new = dataset.rename(columns={"TermYear": "YearTerm"})

In [71]:
noyear=new.drop(columns = {'Year'})

In [72]:
noterm=noyear.drop(columns = {'Term'})

In [73]:
nosubject

,Primary Instructor,Course Title,Number,YearTerm,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W
0,"Abbamonte, Peter M",Electromagnetic Fields I,435,2019-fa,5,30,4,7,25,3,0,12,0,0,4,0,0,1
2,"Abbamonte, Peter M",Light,402,2018-fa,4,12,7,2,4,3,0,7,0,0,0,0,0,0
3,"Abbamonte, Peter M",Light,402,2019-sp,4,13,3,5,9,2,3,7,1,0,1,0,0,0
4,"Abbott, Annie R",Intermediate Spanish,130,2018-sp,9,8,0,1,2,2,0,0,2,0,0,0,0,0
5,"Abbott, Annie R",Spanish and Entrepreneurship,332,2018-sp,6,10,4,2,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11122,"van der Donk, Wilfred A",Structure and Synthesis,237,2018-sp,3,7,2,3,11,7,4,8,3,0,0,0,0,0
11123,"van der Donk, Wilfred A",Structure and Synthesis,237,2019-sp,2,9,4,8,12,3,5,11,2,0,0,0,1,0
11126,"van der Veen, Renske",Physical Chemistry I,442,2018-fa,0,2,8,10,10,5,4,0,0,0,0,1,2,1
11127,"van der Veen, Renske",Physical Chemistry I,442,2019-fa,5,4,5,3,2,7,4,3,3,3,2,2,3,0
11129,"van der Zande, Arend",Mechanical Design I,370,2018-sp,2,16,11,8,7,4,2,0,0,0,0,0,0,0

In [74]:
noterm

,YearTerm,Course,Course Title,ACP,CS,HUM,NAT,QR,SBS
0,2019-fa,AAS 100,Intro Asian American Studies,NaN,US,NaN,NaN,NaN,SS
1,2019-fa,AAS 105,Introduction to Arab American Studies,NaN,US,NaN,NaN,NaN,NaN
2,2019-fa,AAS 120,Intro to Asian Am Pop Culture,NaN,US,NaN,NaN,NaN,NaN
3,2019-fa,AAS 200,U.S. Race and Empire,NaN,US,HP,NaN,NaN,NaN
4,2019-fa,AAS 201,US Racial & Ethnic Politics,NaN,US,NaN,NaN,NaN,SS
...,...,...,...,...,...,...,...,...,...
2025,2018-fa,UP 312,Communication for Planners,ACP,NaN,NaN,NaN,NaN,NaN
2026,2018-fa,UP 316,Urban Informatics II,NaN,NaN,NaN,NaN,QR2,NaN
2027,2018-fa,WRIT 303,Writing Across Media,ACP,NaN,NaN,NaN,NaN,NaN
2028,2018-fa,YDSH 220,Jewish Storytelling,NaN,WCC,LA,NaN,NaN,NaN
2029,2018-fa,YDSH 320,Lit Responses to the Holocaust,NaN,WCC,LA,NaN,NaN,NaN

In [80]:
result = pd.merge(nosubject, noterm, how='outer', on=['Course Title', 'YearTerm'])

In [104]:
result

,Primary Instructor,Course Title,Number,YearTerm,A+,A,A-,B+,B,B-,...,D-,F,W,Course,ACP,CS,HUM,NAT,QR,SBS
0,"Abbamonte, Peter M",Electromagnetic Fields I,435.0,2019-fa,5.0,30.0,4.0,7.0,25.0,3.0,...,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Abbamonte, Peter M",Light,402.0,2018-fa,4.0,12.0,7.0,2.0,4.0,3.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Abbamonte, Peter M",Light,402.0,2019-sp,4.0,13.0,3.0,5.0,9.0,2.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Abbott, Annie R",Intermediate Spanish,130.0,2018-sp,9.0,8.0,0.0,1.0,2.0,2.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Abbott, Annie R",Spanish and Entrepreneurship,332.0,2018-sp,6.0,10.0,4.0,2.0,2.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8906,NaN,Ukrainian Culture,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UKR 113,NaN,WCC,LA,NaN,NaN,NaN
8907,NaN,Urban Informatics I,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 116,NaN,NaN,NaN,NaN,QR1,NaN
8908,NaN,Cities in a Global Perspective,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 185,NaN,WCC,NaN,NaN,NaN,SS
8909,NaN,Ecology & Environmental Sustainability,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 205,NaN,NaN,NaN,LS,NaN,NaN
8910,NaN,Urban Informatics II,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 316,NaN,NaN,NaN,NaN,QR2,NaN

In [105]:
Final = result.dropna(subset=['Course'])

In [106]:
Final

,Primary Instructor,Course Title,Number,YearTerm,A+,A,A-,B+,B,B-,...,D-,F,W,Course,ACP,CS,HUM,NAT,QR,SBS
13,"Aber, Mark S",Community Psych,239.0,2019-fa,0.0,43.0,10.0,7.0,10.0,2.0,...,0.0,0.0,0.0,PSYC 239,NaN,NaN,NaN,NaN,NaN,SS
16,"Acar, Asena",World Religions,110.0,2018-fa,36.0,28.0,4.0,8.0,2.0,3.0,...,0.0,0.0,0.0,PHIL 110,NaN,NW,HP,NaN,NaN,NaN
17,"Acar, Asena",World Religions,110.0,2018-fa,36.0,28.0,4.0,8.0,2.0,3.0,...,0.0,0.0,0.0,REL 110,NaN,NW,HP,NaN,NaN,NaN
18,"Djordjevic, Stefan",World Religions,110.0,2018-fa,7.0,21.0,18.0,8.0,12.0,3.0,...,2.0,1.0,0.0,PHIL 110,NaN,NW,HP,NaN,NaN,NaN
19,"Djordjevic, Stefan",World Religions,110.0,2018-fa,7.0,21.0,18.0,8.0,12.0,3.0,...,2.0,1.0,0.0,REL 110,NaN,NW,HP,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8906,NaN,Ukrainian Culture,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UKR 113,NaN,WCC,LA,NaN,NaN,NaN
8907,NaN,Urban Informatics I,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 116,NaN,NaN,NaN,NaN,QR1,NaN
8908,NaN,Cities in a Global Perspective,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 185,NaN,WCC,NaN,NaN,NaN,SS
8909,NaN,Ecology & Environmental Sustainability,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 205,NaN,NaN,NaN,LS,NaN,NaN
8910,NaN,Urban Informatics II,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 316,NaN,NaN,NaN,NaN,QR2,NaN

In [107]:
Test = Final.reset_index(drop=True)

In [108]:
Test

,Primary Instructor,Course Title,Number,YearTerm,A+,A,A-,B+,B,B-,...,D-,F,W,Course,ACP,CS,HUM,NAT,QR,SBS
0,"Aber, Mark S",Community Psych,239.0,2019-fa,0.0,43.0,10.0,7.0,10.0,2.0,...,0.0,0.0,0.0,PSYC 239,NaN,NaN,NaN,NaN,NaN,SS
1,"Acar, Asena",World Religions,110.0,2018-fa,36.0,28.0,4.0,8.0,2.0,3.0,...,0.0,0.0,0.0,PHIL 110,NaN,NW,HP,NaN,NaN,NaN
2,"Acar, Asena",World Religions,110.0,2018-fa,36.0,28.0,4.0,8.0,2.0,3.0,...,0.0,0.0,0.0,REL 110,NaN,NW,HP,NaN,NaN,NaN
3,"Djordjevic, Stefan",World Religions,110.0,2018-fa,7.0,21.0,18.0,8.0,12.0,3.0,...,2.0,1.0,0.0,PHIL 110,NaN,NW,HP,NaN,NaN,NaN
4,"Djordjevic, Stefan",World Religions,110.0,2018-fa,7.0,21.0,18.0,8.0,12.0,3.0,...,2.0,1.0,0.0,REL 110,NaN,NW,HP,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,NaN,Ukrainian Culture,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UKR 113,NaN,WCC,LA,NaN,NaN,NaN
2344,NaN,Urban Informatics I,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 116,NaN,NaN,NaN,NaN,QR1,NaN
2345,NaN,Cities in a Global Perspective,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 185,NaN,WCC,NaN,NaN,NaN,SS
2346,NaN,Ecology & Environmental Sustainability,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 205,NaN,NaN,NaN,LS,NaN,NaN
2347,NaN,Urban Informatics II,NaN,2018-fa,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,UP 316,NaN,NaN,NaN,NaN,QR2,NaN

In [109]:
Test['Course'].isnull().values.any()

False

In [110]:
Test.to_csv(r'C:\Users\JiwungCha\Desktop\Project1\uiuc_gpa\gpaData.csv')